<!DOCTYPE html>
<html>

<head>
    <title>Student Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 95vh;
            background-color: white;
            margin-top: 20px;
            border-radius: 10px;
        }
    </style>
</head>

<body style="background-color: grey;">
    <div class="container center">
        <div class="col-md-6" style="padding: 0;">
            <h1>Student Form</h1>
            <form id="studentForm" method="POST" action="/users/registerStudent">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="enrollment_number">Enrollment Number:</label>
                        <input type="text" class="form-control" id="enrollment_number" name="enrollment_number"
                            required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" name="address" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="course">Course:</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="course" id="courseCE" value="CE" required>
                        <label class="form-check-label" for="courseCE">CE</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="course" id="courseIT" value="IT" required>
                        <label class="form-check-label" for="courseIT">IT</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="semester">Semester:</label>
                    <select class="form-control" id="semester" name="semester" required>
                        <option value="" disabled selected>Select Semester</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="subjects">Subjects:</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="subjects" id="subjectTOC" value="TOC"
                            required>
                        <label class="form-check-label" for="subjectTOC">TOC</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="subjects" id="subjectAJP" value="AJP"
                            required>
                        <label class="form-check-label" for="subjectAJP">AJP</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>