<!DOCTYPE html>
<html>

<head>
    <title>Image Upload</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <h1>Image Upload Example</h1>
    <input type="file" id="fileInput">
    <button id="uploadButton">Upload Image</button>
    <img src="" alt="" id="image">
    <div id="img"></div>
    <script>
        const url = "https://api.cloudinary.com/v1_1/drq6qjbpg/image/upload";

        document.getElementById('uploadButton').addEventListener('click', async function () {
            try {
                const fileInput = document.getElementById('fileInput');
                const img = document.getElementById('image');
                const file = fileInput.files[0];
                const fd = new FormData();

                fd.append('file', file);
                fd.append('upload_preset', 'Shrey Vaghela');

                const response = await fetch(url, {
                    method: "POST",
                    body: fd
                });

                if (!response.ok) {
                    throw new Error('Error during uploading image to cloudinary.');
                }

                const data = await response.json();

                const uploadResponse = await fetch("/users/admin/upload", {
                    method: "POST",
                    body: JSON.stringify({ imageUrl: data.secure_url }),
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });

                if (!uploadResponse.ok) {
                    throw new Error("error uploading image to server");
                }

            } catch (error) {
                console.error(error);
            }



        });


    </script>
</body>

</html>