<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Inter:wght@200;300&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dashboard</title>
</head>

<body>
    <div class="full-Dashboard">

        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <span class="fs-4" style="font-weight: bold;">GECM System</span>

            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">Dashboard</button>
                    </svg>


                </li>
                <li>
                    <button type="button" class="btn btn-primary">Profile</button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary">Attendance</button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary">class-report</button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary">Student-report</button>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <button type="button" class="btn btn-primary">Sign-Out</button>

            </div>
        </div>

    


    </div>

</body>

</html> -->






<!-- main one -->



<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.2.js"
        integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0bd7fd1f80.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/CSS/faculty/faculty.css">
    <link rel="stylesheet" href="/CSS/admin/addStudent.css">
    <link rel="stylesheet" href="/CSS/admin/admin.css">



    <title>Student Registration Form In Bootstrap 5</title>

</head>

<body style="background-color: rgb(221, 221, 221);">



    <div class="container-dashboard">
        <div class="logout">
            <form action="/users/logout" method="get">
                <h2>Do you want to logout?</h2>
                <button type="submit" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-primary" onclick="hideLogout()">Cancel</button>
            </form>
        </div>
        <div class="navbar-dashboard-for-student" style="z-index: 1;">
            <div class="bars" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <!-- <i class="fa-solid fa-bars fs-1x" onclick="myFunction()"></i> -->
            <div class="navbar-text-for-student">
                Student Management System | Faculty Dashboard

            </div>

        </div>
        <div class="left-bar-for-student" style="font-family: sans-serif;">
            <div class="left-bar-title" style="height: 97px; padding-top: 10px;">
                <div class="image-logo">
                    <img src="/images/logo.png" alt="" srcset="">

                </div>
                <div class="gecm-title" style="padding-top: 10px; font-size: 2.5rem; text-align: center;">
                    GECM
                </div>
            </div>
            <!-- <hr> -->
            <a href="/users/faculty/facultyHome" style="padding: 10px 20px;">
                <i class="fa-solid fa-gauge fs-1x fa-fw"></i><span class="link-text">Home</span></a>
            <a href="/users/faculty/selectClass"><i class="fa-solid fa-list-check fs-1x fa-fw"></i><span
                    class="link-text">Take
                    Attendance</span></a>
            <a href="/users/faculty/view_attendance"><i class="fa-regular fa-calendar-days fs-1x fa-fw"></i><span
                    class="link-text">View
                    Attendance</span></a>
            <a href="#" onclick="displayLogout();"><i class="fa-solid fa-book fs-1x fa-fw"></i><span
                    class="link-text">Logout</span></a>



        </div>
        <div class="right-side">
            <div class="deshbord-card"
                style="width: 80vw; background-color: white; padding: 20px; margin-top: 30px; padding-bottom: 0; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; border-radius: 7px;">
                <form class="right-mark-attendance" action="/users/faculty/selectClass">
                    <img src="/images/attendance.jpg"
                        style="width: 90%; height: 55%; box-shadow: none; border-radius: 0%; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    <div class="right-side-paregraph">
                        <h5 style="font-weight: bold;">Mark Attandance</h5>
                        <p>Record Daily Attendance of your students here you cannot edit update the records after one
                            month</p>

                        <button style="background-color:rgb(24, 173, 24);" id="attendance" type="submit">
                            Mark Attandance</button>
                    </div>
                </form>

                <form class="right-student-report" action="/">
                    <img src="/images/Reportjpg.jpg"
                        style="width: 90%; height: 55%; box-shadow: none; border-radius: 0%; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    <div class="right-side-paregraph">
                        <h5 style="font-weight: bold;">Download Report</h5>
                        <p>Download Daily Attendance of your students here you cannot edit update the records after one
                            month</p>

                        <button style="background-color:rgb(19, 19, 184) ;"> <a
                                href="/users/faculty/download_attendance"
                                style="text-decoration: none; color: white;">Student
                                Report</a></button>
                    </div>
                </form>

                <div class="right-class-report">
                    <img src="/images/subject-icon.jpg"
                        style="width: 90%; height: 55%; box-shadow: none; border-radius: 0%; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    <div class="right-side-paregraph">
                        <h5 style="font-weight: bold;">View Attendance</h5>
                        <p>View Daily Attendance of your students here you cannot edit update the records after one
                            month</p>

                        <button style="background-color:rgb(229, 37, 37) ;"><a href="/users/faculty/view_attendance"
                                style="text-decoration: none; color: white;">View Attendance</button>
                    </div>



                </div>
            </div>

        </div>




    </div>

    <script>
        // Data Picker Initialization
        $('.datepicker').datepicker({
            inline: true
        });
        $("#attendance").click(function () {

        });
        function myFunction(x) {
            element = $(".left-bar-for-student");
            if (element.css("display") == "none") {
                $(".navbar-dashboard-for-student").css("margin-left", "270px");
                $(".left-bar-for-student").css("display", "block");
                x.classList.toggle("change");
                $(".right-side").css("margin-left", "280px");

            } else {
                element.css("display", "none");
                $(".navbar-dashboard-for-student").css("margin-left", "0");
                $(x).removeClass("change");
                $(".right-side").css("margin-left", "10px");


            }
        }

        function change(x) {
            x.classList.toggle("change");
        }


        function hideLogout() {
            var logoutElement = document.querySelector('.logout');
            logoutElement.style.display = 'none';
        }
        function displayLogout() {
            var logoutElement = document.getElementsByClassName("logout")[0];
            logoutElement.style.display = 'block';
        }

    </script>
</body>


</html>