<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.2.js"
        integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0bd7fd1f80.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/CSS/faculty/faculty.css">
    <link rel="stylesheet" href="/CSS/admin/addStudent.css">
    <link rel="stylesheet" href="/CSS/admin/admin.css">



    <title>Student Registration Form In Bootstrap 5</title>

</head>

<body style="background-color: rgb(221, 221, 221);">



    <div class="container-dashboard">
        <div class="navbar-dashboard-for-student" style="z-index: 1;">
            <div class="bars" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <!-- <i class="fa-solid fa-bars fs-1x" onclick="myFunction()"></i> -->
            <div class="navbar-text-for-student">
                Student Management System | Faculty Dashboard

            </div>

        </div>
        <div class="left-bar-for-student" style="font-family: sans-serif;">
            <div class="left-bar-title" style="height: 97px; padding-top: 10px;">
                <div class="image-logo">
                    <img src="'/images/logo.png" alt="" srcset="">

                </div>
                <div class="gecm-title" style="padding-top: 10px; font-size: 2.5rem; text-align: center;">
                    GECM
                </div>
            </div>
            <!-- <hr> -->
            <a href="/facultyHome" style="padding: 10px 20px;">
                <i class="fa-solid fa-gauge fs-1x fa-fw"></i><span class="link-text">Home</span></a>
            <a href="/users/faculty/selectClass"><i class="fa-solid fa-list-check fs-1x fa-fw"></i><span
                    class="link-text">Take
                    Attendance</span></a>
            <a href=""><i class="fa-regular fa-calendar-days fs-1x fa-fw"></i><span class="link-text">View
                    Attendance</span></a>
            <a href=""><i class="fa-solid fa-book fs-1x fa-fw"></i><span class="link-text">Student Report</span></a>
        </div>

        <div class="right-side">
            <div class="card">
                <div class="card-header" style="font-weight: bold;">
                    Attendance List
                </div>
                <div class="card-body">


                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Enrollment No.</th>
                                <th scope="col" style="width: 40%;">Subject</th>
                                <th scope="col">Class Number</th>
                            </tr>
                        </thead>


                    </table>

                </div>
            </div>
        </div>





    </div>


</body>


</html>