<link rel="stylesheet" href="/CSS/register.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">


<form action="/users/register" method="post" class="card-container">
    <div class="title">Register here</div>

    <div class="form-container">
        <div class="input-field">
            <input type="text" name="username" id="" min="200160107001" class="input" placeholder="username">
        </div>

        <div class="input-field">
            <input type="password" name="password" id="" class="input" placeholder="password">

        </div>

        <select name="role" id="select-role" class="input">
            <option value="not selected" selected>select role</option>
            <option value="faculty">Faculty</option>
            <option value="student">Student</option>
        </select>

    </div>
    <input type="submit" value="submit" class="submit-btn">

</form>